<div class="fullscreen-bg">
    <div class="overlay-form">
      <p-card header="Let's get started" [style]="{ width: '360px' }">
          <div class="p-fluid">
              <div class="field">
                  <label for="email">Email</label>
                  <input pInputText id="email" type="text" [(ngModel)]="userEmail" />
              </div>
              <div class="fields">
                <p-button (click)="navigateToOtp()" label="Signup"></p-button>
              </div>
          </div>
    </p-card>
    </div>
  </div>
  
  