 <div class="home">
    <img src="../../assets/img1.jpg">
    <div class="homecontent">
        <h1>Winnipeg ToDo New Login Flow</h1>
        <div>
            User's Country: {{ userCountry }}
        </div>
        <div>
            User's Country code: {{ userCountrycode }}
        </div>
        <div>
            User's currency: {{ userCurrency }}
        </div>
        <div>
            User's Timezone: {{ userCountryzone }}
        </div>
        <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" [showClear]="true" placeholder="Select a country"></p-dropdown>
        <p-button class="btn" (click)="navigateToCardPage()" label="Next"></p-button>
    </div>
  </div>

  <div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>Winnipeg</h1>
            <p>ToDo App, New Login</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
            <a routerLink="contact">Maleesha</a>
        </div>
    </div>
</div>

