<div class="fullscreen-bg">
    <div class="overlay-form">
      <p-card header="Enter OTP" [style]="{ width: '360px' }">
          <div class="p-fluid">
              <div class="field">
                  <label for="password">Enter OTP Code</label>
                  <input type="text" pInputText [(ngModel)]="userEnteredOtp" />
              </div>
              <label class="red">check your mail to see OTP</label>
              <div class="fields">
                <p-toast></p-toast>
                <p-button *ngIf="isNewUser" (click)="verifyOtp()" label="Submit"></p-button>
              </div>
              <div class="fields">
                <p-toast></p-toast>
                <p-button *ngIf="isNewUsers" (click)="newVerifyOtp()" label="Submit2"></p-button>
              </div>
              <div class="fields" *ngIf="showResendButton">
                <p-toast></p-toast>
                <p-button (click)="resendEmailLink()" label="Resend OTP" ></p-button>
              </div>
              <div class="fields" *ngIf="showCaptcha">
                <form [formGroup]="aFormGroup">
                  <ngx-recaptcha2 #captchaElem
                    [siteKey]="siteKey"
                    formControlName="recaptcha">
                  </ngx-recaptcha2>
                </form>
              </div>
          </div>
    </p-card>
    </div>
  </div>
  
  
