
body, html {
    margin: 0;
    padding: 0;
  }
  
  .fullscreen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .fullscreen-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .overlay-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .field{
    margin-top: 20px;
  }
  
  .fields{
    margin-top: 60px;
  }

  #lab{
    margin-right: 20px;
  }
  
  /* Media Query for smaller screens */
  @media screen and (max-width: 600px) {
  .overlay-text {
    font-size: 25px; 
    font-weight: bold;
  }
  
  }
  
  /* Media Query for even smaller screens */
  @media screen and (max-width: 400px) {
  .overlay-text {
    font-size: 25px; 
  }
  }
  
  
    