<div class="fullscreen-bg">
    <div class="overlay-form">
      <ng-container *ngIf="!checks; else twoFACard">
        <p-card header="Create Storong password" [style]="{ width: '360px' }">
          <div class="p-fluid">
              <div class="field">
                <label for="password">Password</label>
                <input pInputText id="password" type="password" [(ngModel)]="password"/>
              </div>
              <div>
                <h2>Enter your Details</h2>
              </div>
              <div class="field">
                  <label for="email">Frist name</label>
                  <input pInputText id="fname" type="text" [(ngModel)]="firstName" />
              </div>
              <div class="field">
                  <label for="password">Last name</label>
                  <input pInputText id="lname" type="text" [(ngModel)]="lastName"/>
              </div>
              <div class="field">
                <label id="lab" for="password">Enable 2FA</label>
                <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
            </div>
              <div class="fields">
                <p-toast></p-toast>
                <p-button (click)="check()" label="Sign Up"></p-button>
              </div>
          </div>
        </p-card>
      </ng-container>
      <ng-template #twoFACard>
        <p-card header="Setup 2FA" [style]="{ width: '360px' }">
          <div *ngIf="!isVerified">
            <h2>Scan the QR code using your Authenticator app.</h2>
            <div class="field">
              <img [src]="qrCodeURI" alt="QR Code">
            </div>
            <input pInputText type="text" id="tfa" [(ngModel)]="otp" placeholder="Enter verification code">
            <div class="field">
              <p-toast></p-toast>
              <p-button (click)="twoFa()" label="Verify"></p-button>
            </div>
          </div>
          <div *ngIf="isVerified">
            <p>Verified!</p>
            <div class="field">
              <p-toast></p-toast>
              <p-button (click)="saveUserDetails()" label="Sign up"></p-button>
            </div>
          </div>
        </p-card>
      </ng-template>
    </div>
  </div>
  
  
